/* .body {
	margin: 0;
	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */




// @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');








body {
  overflow-x: hidden;
  width: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

  /* //this top results in vertical scrolling in mobile view */

.header-color {

  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg"); */
  background:#1c222a;
}






.avatar-img {
  height: 250px;

  
  border-radius:125px ;

  margin-top:20px;
 /* padding-top: 5em; */
 padding-bottom: 1vh;

  
}
.banner-text {
  background: transparent;
  width: 100%;
  margin:auto;
  border-radius:10px ;
  /* float: right; */

  
  
}

.project-grid {
  display: flex;
  
  font-size: 8vw;
  padding-top: 8px;
  
  margin-bottom: 2rem;

}


.banner-text h1 {
  text-align: center;
  font-size: 6vw;
  color:white;
  font-family: 'Knewave', cursive;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-link {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding-bottom: 5vh;
 

}
.social-link i{
  color: white;
  font-size: 3rem;
  padding:1rem ;
}
.contact-body {
  margin : auto;
  	background:transparent;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  position: relative;
  border-radius: 10px;

}
.contact-grid {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  border:2px solid black;
  color: black;
  background-color:white;
  margin-bottom: 20px;
  
  justify-content: center;
  width: 80%;
}

.contact-grid hr {
  border-top: 5px dotted;
  justify-content: center;
  width: 70%;
  margin: auto;
}


.contact-inf i{
  font-size: 40px;
  padding-right: 5rem;
}

.resume-right-col {
  margin: auto;
  background:#27221f;
  color: white;
  justify-content: center;
  max-width: 100%;
}

.map-img {
  flex: 1;
  justify-content: center;
  justify-items: center;
  
  width: 96vw;
  text-align: center;
  padding-right: 2vw;
  padding-left: 2vw;
}

.categorical-tabs {
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  font-size: 2vw;
  padding-top: 7vh;
  justify-content: center;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15%),0% calc(100% - 0%)); */

  
  color: white;
  width: 100%;
  
}



.heading {
  width: 100%;
  padding: 2vh;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  

}


.about {
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  color: white;
  
  padding-top: 10vh;
  padding-bottom: 10vh;
  /* clip-path: polygon(0% 15%, 100% 0%, 100% calc(100% - 0%),0% calc(100% - 0%)); */
width: 100%;

  
}



.myinfo {
  padding: 5vh;
  margin: auto;
  width: 50%;
  height: auto;
  color: #fff;
}

.in1 i {
  float: left;
  font-size: 2rem;
}
.in2 i {
  padding: 2hv 2vh;
  float: left;
  font-size: 2rem;
}

.testit {
  justify-content: center;
  justify-content: center;
  flex-direction: column;
}

.resume-right-col {

  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  color: white;
  
}
.map-icon {
    font-size: 2px;
    height: 25px;
    width: 25%;
    cursor: pointer;
    
}

.naem {
  color: white;
}
.time {
  float: center;
}

.content {
  height: 70vh;
  width: 100%;

}



.name {
  width: 100%;
}


.toolbar {
  
  	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  
  top: 0;
  width: 100vw;
  position: sticky;
  z-index: 2;
  
}

.logo {
  font-size: 40px;
  color: white;
  left: 0;
  font-family: 'Roboto Mono', monospace;

  padding: 0 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh;


}
.infotab {
  	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  height: 100%;
  width: 100%;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.toolbar-items {
  float: right;
  padding-right: 3vw;
  color: white;
  

}
.a {
  padding-right: 2vw;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 1.2rem;

}


/* .time{
  align-items: center;
  padding: 0.5rem;
} */

.spacer {
  flex: 1;
}
.title {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 2vh;
  padding-bottom: 4vh;
  
  font-family: 'Roboto Mono', monospace;

}
.styl {
  width: 30vw;
  margin: auto;
  
  
}
.topco2 {
  padding-bottom: 40px;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: transparent;

}
.containerd {
  height: auto;
  width: 70%;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  top: 50%;
}
.topco {
  width: 100vw;
  	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  margin: auto;

}
.topco3 {
  justify-content: center;
  border-radius: 20px;
  left: 5%;
  top: 50%;
  height: 100%;
  width:100vw;
  display: flex;

  background-color: transparent;
}
.right-bar {
  justify-content: center;
  height: 60vh;
  width: 90vw;
  padding: 2vw 2vw;
  display: flex;
  background-color: transparent;
}


.intro2 h1{
  text-align: center;
  color: #fff;
  font-size: calc(1em + 1.8vw);
  font-family: 'Roboto';
  justify-content: center;
}
.intro3 {
  font-size: medium;
  font-family: 'Knewave', cursive;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5vh;
}

/* .overflow {
  display: 'flex';
  flex-direction: 'row';
} */

@media screen and (max-width: 800px) {
  .toolbar{background: 'red';}
  .categorical-tabs {
      
      /* clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5%),0% calc(100% - 0%)); */

  }

  [class*="col-"] {
    width: 100%;
  }

}


.intro {
  display:inline-block;

  text-align: center;
  justify-content: center;
  padding-top: 120px;
  height: 40px;

}

.secx {
  display:inline-block;

  text-align: center;
  padding-top: 0%;
  height:50px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.intro h1{
  padding-bottom: 10px;
  text-align: center;
  justify-content: center;
  font-family: 'Roboto';
  font-size: calc(1em + 1.8vw);
  color: white;
  /* border-right: 2px solid white; */

}

.secx h1{
  text-align: center;
  font-family: 'Roboto';
  font-size: calc(1em + 1.8vw);
  color: white;
  /* border-right: 2px solid white; */

}

.infoPage {
  width: 100%;
  justify-content: center;
  justify-items: center;

}


.landing-grid {

  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   	background: #3A1C71;
	background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  width: 100vw;
  height: 80vh;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15%), 50% 100%,0% calc(100% - 15%));
  justify-content: center;
  
}







/* defines the animation */
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 100%);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeRight {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 100%);
    transform: translate3d(0, 100%,0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadetr {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 100%);
    transform: translate3d(-100%,0,0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.intro {
  // first we make all instances of this transparent. 
  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadeInUp 2s ease-in-out 0s forwards;

  // then define the animation delay in each class
 
}

.infoPage{

  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadeInUp 2s ease-in-out 0s forwards;

}


.a{
  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadeRight 2s ease-in-out 0s forwards;

}

.toolbar{

  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadeRight 1s ease-in-out 0s forwards;

}

.secx{

  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadetr 2s ease-in-out 0s forwards;

}

.categorical-tabs{
  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadeInUp 1.7s ease-in-out 1s forwards;

}



/* //////////////////////////////////////////////////////////////////////////////////////////////// */


@import '/work';


