

.header-color {

  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg"); */
  background:#1c222a;
}


.drawer-color i {
  font-size: 25px;
  padding-right:6px;
  size: 4vw;
  color: darkslategray;
}


.landing-grid {

  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  width: 100vw;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15%), 50% 100%,0% calc(100% - 15%));

  
}
.avatar-img {
  height: 250px;

  
  border-radius:125px ;

  margin-top:20px;
 /* padding-top: 5em; */
 padding-bottom: 1vh;

  
}
.banner-text {
  background: transparent;
  width: 100%;
  margin:auto;
  border-radius:10px ;
  /* float: right; */

  
  
}
.project-grid {
  display: flex;
  font-size: 8vw;
  flex-wrap: wrap;
  padding-top: 8px;
  
  margin-bottom: 2rem;

}


.banner-text h1 {
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
  color:white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-link {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding-bottom: 5vh;
}
.social-link i{
  color: white;
  font-size: 3rem;
  padding:1rem ;
}
.contact-body {
  margin : auto;
  background:grey;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  position: fixed;
}
.contact-grid {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  border:2px solid black;
  color: black;
  background-color:white;
  margin-bottom: 20px;
  
  justify-content: center;
  width: 80%;
}
.intro {
  text-align: center;
  justify-content: center;
  padding-top: 120px;

}
.contact-grid hr {
  border-top: 5px dotted;
  justify-content: center;
  width: 70%;
  margin: auto;
}


.contact-inf i{
  font-size: 40px;
  padding-right: 5rem;
}

.resume-right-col {
  margin: auto;
  background:#27221f;
  color: white;
  justify-content: center;
  max-width: 100%;
}

.map-img {
  
  width: 100vw;
  text-align: center;
  display: block;
}

.categorical-tabs {
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  font-size: 2vw;
  padding-top: 7vh;
  
  color: white;
  height: 100vh;
  
}
 .intro h1{
  padding: 1vh;
  text-align: center;
  justify-content: center;
  font-family: monospace;
  font-size: 4vw; 
  color: white;
  border-right: 2px solid white;

}


.about {
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  color: white;
  height: 110vh;
  padding-top: 5px;
 
 

  
}

.resume-right-col {

  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  color: white;
  
}
.map-icon {
    font-size: 2px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    
}

.naem {
  color: white;
}
.time {
  float: center;
}

.content {
  height: 100vh;
  width: 100vw;
}

.sec {
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  justify-items: center;
  justify-content: center;
}


.comment-box {
  width: 50vw;
  color: #fff;
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  border-radius: 0.875rem;
  justify-content: center;
  padding-left:10vw;
  padding-top: 4vh;
  
}
input[type=text], select {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea[type=text], select {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.comment-form {
  /* background: url("https://image.freepik.com/free-photo/dark-grey-black-slate-texture-with-high-resolution-background-natural-black-stone-wall_38607-306.jpg");
   */
   background:#84a9ac;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem; 
  justify-content: center;



}
.comment-form-field {
  width: 40vw;
}
.name {
  width: 90vw;
}


.content {
  margin-bottom: 2rem;
  height: 120vh;
}
.toolbar {
  background:#84a9ac;
  position: relative;
  top: 0;
  width: 100%;
  
  
}

.logo {
  font-size: 4vw;
  color: white;
  left: 0;

  padding: 0 2rem;

}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
}
.infoPage {
  width: 100vw;
  position: relative;
  height: auto;

}
.toolbar-items {
  float: right;
  padding-right: 2vw;
  color: white;
  font-family: toul;
}

.toolbar-items ul{
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  color: white;
}
.toolbar-items li {
  padding: 2rem;
  color: white;

}
/* .time{
  align-items: center;
  padding: 0.5rem;
} */

.spacer {
  flex: 1;
}
.title {
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  padding-top: 2vh;
  padding-bottom: 4vh;
}